/* "Edu VIC WA NT Beginner", cursive ^
"Playwrite HU", cursive v */
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Playwrite+HU:wght@100..400&display=swap');
body {
 background-color: #3b3e86;
 height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
}

.counters {
 font-family: "Edu VIC WA NT Beginner", cursive;
 color: #ffffff;
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
}

.row {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
 width: 100%;
}

.column {
 width: 50%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.weirdass {
 background-color: #3e9f85;
 color: #ffffff;
 padding: 10px;
 font-family: cursive;
 font-weight: 700;
 text-align: center;
 border-radius: 5px;
 box-shadow: 4px 4px #24574b;
 /* width: min-content; */
 margin: auto;
 margin-bottom: 10px;
}

button[class='weirdass']:hover {
 background-color: #24574b;
 border: #3e9f85 solid 2px;
 box-shadow: 4px 4px #3b3e86;
}

/* may have the same styling but are separate IDs just for javascript selction */
#characterCounter,
#bossCounter,
#cryoCounter {
 background-color: #3e9f85;
 box-shadow: 4px 4px #24574b;
 border-radius: 5px;
 padding: 10px;
 color: #ffffff;
}

#roundCounterbtn {
 background-color: #3e9f85;
 box-shadow: 4px 4px #24574b;
 border-radius: 5px;
 padding: 10px;
 color: #ffffff;
 display: inline;
 font-family: "Edu VIC WA NT Beginner", cursive;
 font-size: 20px;
}

.content {
 width: 45rem;
}

h2 {
 background-color: #3e9f85;
 color: #ffffff;
 padding: 10px;
 font-family: "Playwrite HU", cursive;
 text-align: center;
 border-radius: 5px;
 box-shadow: 4px 4px #24574b;
}

.btn {
 width: 150px;
 font-family: "Edu VIC WA NT Beginner", cursive;
 font-size: 18px;
 color: #ffffff;
 background-color: #24574b;
 box-shadow: 4px 4px #4b3522;
 padding: 0.5rem;
 border-radius: 5px;
}

.btn:hover{
 background-color: #3e9f85;
}

.card {
 padding: 15px 30px 15px 30px;
 text-align: center;
 background-color: #e8dcbf;
 border-radius: 5px;
 border-top: #3e9f85 5px;
 margin-top: 20px;
}

.unused {
 padding: 15px 30px 15px 30px;
 text-align: center;
 background-color: #e8dcbf;
 border-radius: 5px;
 border-top: #3e9f85 5px;
 margin-top: 20px;
 display: none;
}

#teamdisplay {
 padding: 15px 30px 15px 30px;
 text-align: center;
 border-radius: 5px;
 border-top: #3e9f85 5px;
 margin-top: 20px;
}

#picdisplay {
 display: none;
}

#picdisplay1 {
 display: none;
}

p {
 font-family: "Edu VIC WA NT Beginner", cursive;
 font-size: 20px;
}

img {
 height: 25px;
 width: 25px;
}

.notes {
 box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
 background-color: #e8dcbf;
 border-radius: 0.5rem;
 filter: brightness(110%);
}

.body {
 display: flex;
 width: 45rem;
 flex-direction: column;
 row-gap: 50px;
}

.nothing{
 display: flex; justify-content: center; align-items: center;
 height: 100%;
}